doctype html
html(lang='en')
  head
    title Pink Hippos Todo
    link(type='text/css' rel='stylesheet' href='/vendor/bootstrap/css/bootstrap.min.css')
  body(ng-app='ph_todo')
    ph-todo-nav
    ui-view
    script(type="text/javascript" src='/vendor/jquery/jquery.min.js')
    script(type="text/javascript" src='/vendor/bootstrap/js/bootstrap.min.js')
    script(type="text/javascript" src='/bundle.js')
